body{
    font-family: 'Product Sans';
}

a{
    color: rgb(161, 161, 161);
    font-size: 14px;
    font-weight: 600;
}   
.make_black{
    color: black;
}
.make_red{
    color: red;
}
.make_white{
    color: white;
}
a:hover{
    text-decoration: none;
    color: red;
    text-shadow: 1px 1px 3px;
}
.thin_border{
    border: 1px solid black;
}
#nav_bar{
    margin-top: 15px;
}
#bring_theories{
    margin: 0px 0px 0px 0px;
    font-size: 30;
}
#alive{
    margin: 0px 0px 0px 0px;
    color: red;
    font-size: 150;
}
@media(min-width:1000px){
    #bring_theories{
        margin: 0px 0px 0px 0px;
        font-size: 60;
    }
    #alive{
        margin: 0px 0px 0px 0px;
        color: red;
        font-size: 250;
    }
}
.tag_pos{
    margin-top: 50px;
    padding: 0;
}
.oneandhalf {line-height: 3em;}
#nav_text{
    text-align: left !important;
}
@media(min-width:1000px){
    #nav_text{
        text-align: right !important;
    }
}

#red_back_pos{
    margin: 120px 0px 0px 0px;
    padding: 0;
}

#white_text{
    margin: 20px 0px 0px 0px;
    color: white ! important;
}

.field_topics{
    color: red;
    font-size: 24px
}
.field_discription{
    margin: 15px 0px 0px 0px;
    color: black;
    font-size: 18px
}
#topic_pos{
    margin: 20px 0px 0px 0px;
}

#math_text{
    color: red;
    font-size: 100px;
    line-height: 1.5em;
}
.robot_pos{
    margin: 30px 0px 0px 0px;
    height: 400px;
    width: 100%;
    background-size: cover ! important;
}
.foot_pos{
    margin: 50px 0px 0px 0px;
    height: 100px;
    width: 100%;
    background-size: cover ! important;
}

.foot_text{
    color: white;
    font-size: 15px;
}

.foot_back{
    background: rgb(36, 36, 36);
    margin: 0px 0px 0px 0px;
    height: 100px;
    width:100%;
}

#team_intro{
    font-size: 24px;
    margin: 80px 0px 60px 0px;
}

.team_meet{
    margin: 60px 0px 20px 0px;
    color: black;
    font-size: 30px;
    line-height: 2.5em;
}
.team_meet_high{
    color: red;
    font-size: 120px;
}
.team_meet_col{
    color: black;
    font-size: 130px;
}
@media(min-width:1000px){
    .team_meet_high{
        color: red;
        font-size: 200px;
    }
    
    .team_meet{
        margin: 60px 0px 20px 0px;
        color: black;
        font-size: 60px;
        line-height: 2em;
    }
    .team_meet_col{
        color: black;
        font-size: 200px;
    }    
}
.con_pos{
    margin-top: 20px;
    margin-bottom: 30px;
}
.con_black{
    color: black;
    font-size: 30px
}
.con_red{
    color: red;
    font-size: 30px
}
.con_small{
    color: rgb(145, 145, 145);
    font-size: 14px;
}
.con_mail{
    margin: 12px 0px 0px 0px;
}
.con_box{
    margin: 0px 0px 0px 0px;
    height: 400px;
    width: 100%;
    background-size: cover ! important;
}

.con_type{
    color: rgb(94, 93, 93);
    font-size: 14px
}

.con_det{
    color: rgb(0, 0, 0);
    font-size: 24px
}

.con_phone{
    margin: 15px 0px 0px 0px;
}

.topic_box{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    width:100%;
    box-shadow: 5px 5px 8px -3px #888888;
}

.quote_text{
    font-size: 24px;
}

.quote_back{
    background: red;
    margin: 80px 0px 0px 0px;
    height: 300px;
    width:100%;
}
#stories{
    margin-top: 80px;
    margin-bottom: 50px;

}
.article_img{
    height: 350px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}

.art_mar{
    margin: 50px 0px 50px 0px;
}
.art_back{
    background: rgb(255, 255, 255);
}
.art_head{
    color: red;
    font-size: 60px;
}

.art_link:hover{
    box-shadow: 5px 5px 8px -3px #5c5c5c;
}
.work_back{
    background: rgb(139, 139, 139);
    margin: 40px 0px 0px 0px;
    height: 200px;
    width:100%;
}

.art_body{
    text-align: justify;
}

#github:hover{
    color: rgb(145, 145, 145);
    font-size: 14px;
    text-shadow: none;
    text-decoration: none;
}
#linkedin:hover{
    color: rgb(145, 145, 145);
    font-size: 14px;
    text-shadow: none;
    text-decoration: none;
}